@media only screen and (max-width: 845px) {  
    .tables{
        /* text-align: center!important; */
        /* background-color:#D8DEC8; */
        /* width: 100%!important;  */
        /* min-width: 600px!important; */
    }
} 

@media only screen and (min-width: 845px) {  
    .tables{
        /* text-align: center!important;
        margin-left: 15%!important;
        margin-right: 15%!important;
        margin-top: 5%!important; */
        /* background-color:#D8DEC8; */
    }
} 